{%  extends '::base.html.twig' %}
{%  block title %}{{ app.debug  }}{% endblock %}
{% block body %}
    <h1>{{ go_email  }}</h1>
    <h2> recipe.name </h2>
    <h3>Ingredientes</h3>
        {% for a in recipe %}
            <ul>{{ a.name }}</ul>
        {% endfor %}
{% endblock %}
{% block mibloque %}
    {{ parent() }}
    <p>Contenido a añadir</p>
{% endblock %}